:root{
    --red-color-1: linear-gradient(45deg, rgb(69, 16, 44) 20%, rgb(133, 5, 54) 25%, rgb(174, 24, 94) 35%);
    --yellow-color-1: linear-gradient(45deg, rgba(211, 197, 0, 0.6) 20%, rgba(99, 198, 0, 0.6) 25%, rgba(204, 182, 9, 0.6) 35%) ;
    --red-color-2: linear-gradient(45deg, rgba(69, 16, 44, 0.2) 20%, rgba(133, 5, 54, 0.2) 25%, rgba(174, 24, 94, 0.2) 35%) ;
    --yellow-color-2: linear-gradient(45deg, rgb(211, 197, 0) 20%, rgb(99, 198, 0) 25%, rgb(204, 182, 9) 35%) ;
    --blue-color-1: linear-gradient(45deg, blue 20%, rgb(3, 3, 71) 25%, rgb(33, 33, 88) 35%) ;
}

%yellow-box-border {
    border-radius: 25%;
    border: 0.4vh rgb(153, 201, 8) solid;
    background-image: var( --yellow-color-2);
}


%blue-box-grey-border {
    background-image: var(--blue-color-1);
    border: 0.3vh grey dotted;
    border-radius: 0.5vh;
}


.geolocation { 
    @extend %blue-box-grey-border;
    background-attachment: fixed;
    position: relative;
    color: white;

    & a{
        color: rgb(177, 120, 13);
    }

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
 
    margin: 5vh;
    
    & > * {
        padding: 2vh;
    }

    .find_me{ 

        
        @extend %yellow-box-border;
        
        &:hover{
            background-image: var(--yellow-color-1);
            border-color: rgb(133, 0, 0);
            box-shadow: 0.3vh 0.3vh 1vh 0.5vh red;
        } 
        &:active{
            background-image: var(--red-color-1);
            color: white;
        }

        &:disabled{
            background-image: var(--red-color-2) ;

            &:hover{
                border-color:rgb(153, 201, 8);
                box-shadow: none;
                cursor: auto;
            }  
        }

    }  

    .scaleMapLocation {
        &:focus{
            box-shadow: 0.3vh 0.3vh 1vh 0.5vh rgb(0, 255, 110);
        }
    }


    @import "./mySlider.scss";
}

    